.toc-break{
	margin-top:10px;
}

h1, h2, h3, h4, h5, h6 {
     page-break-after:avoid;
     -webkit-hyphenate-lines: 0 !important;
     -webkit-hyphens: none !important; 
     adobe-hyphenate: none !important; 
     -moz-hyphens: none !important; 
     hyphens: none !important;
     hyphenate-lines: 0;
}

h1 {
	font-family: libertinus-serifx;
    text-indent: 0;
    text-align: center;
    margin: 0px 0 50 0;
    font-size: 2.0em;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 100%;
    /*gets squished otherwise on ADE */
}

.h1-together {
	font-family: libertinus-serifx;
    text-indent: 0;
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 2.0em;
    font-weight: bold;
    font-variant: small-caps;
    page-break-after: never;
    line-height: 100%;
    /*gets squished otherwise on ADE */
}

h1.hidden {
	font-family: libertinus-serifx;
   visibility: hidden;
    font-size: 0.01em;
    line-height: 0.01em;
    margin-top: 0px;
}

h2 {
	font-family: libertinus-serifx;
    text-indent: 0;
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 135%;
	margin-top: 0px;
    /*get squished otherwise on ADE */
}

.h2-together {
	font-family: libertinus-serifx;
    text-indent: 0;
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    page-break-before: never;
    line-height: 135%;

    /*get squished otherwise on ADE */
}

.h2-paritta {
	font-family: libertinus-serifx;
	text-align: center;
    font-variant: small-caps;

}

h3 {
    text-align: center;
    font-variant: small-caps;
}

.section-title {
	font-family: libertinus-serif;
	font-size: 1.1em;
    font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	line-height: 1em;
	padding-top: 1em
}

.pali-subtitle {
    text-align: center;
	font-family: libertinus-serifx;
}

.pali-leader {
	font-family: libertinus-serif;
  	font-size: 1.1em;
    text-align: center;
}

.english-leader {
  font-family: libertinus-serif;
	font-style: italic;
	font-size: 1.1em;
    text-align: center
}

body {
  font-family: libertinus-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-right:30px;
  margin-left:30px;
  padding:0;
}

p {
  font-family: libertinus-serif;
}

.pali-hang {
	display: block;
	font-family: libertinus-serif;
    page-break-after: avoid;
    page-break-inside: avoid;
  	font-size: 1.1em;
    text-indent: -8pt;
    margin: 8pt 0 0 8pt;
    padding: 0
} 

.pali-hang-first {
   display: block;
    page-break-after: avoid;
    page-break-inside: avoid;
	font-family: libertinus-serif;
  	font-size: 1.1em;
    text-indent: -8pt;
    margin: 8pt 0 0 8pt;
    padding: 0
}

.pali-hang-together {
	font-family: libertinus-serif;
	display: block;
    line-height: 1.5;
    page-break-after: avoid;
    page-break-inside: avoid;
  	font-size: 1.1em;
    text-indent: -8pt;
    margin: 0 0 0 8pt;
    padding: 0
} 

blockquote {
	font-family: libertinus-serif;
  	background: none;
  	border: none;
	font-style: italic;
}

.english {
	font-family: libertinus-serif;
  	font-size: 1.0em;
  	font-style: italic;
  	line-height: 1.5em;   
    padding-left: 24px ;

}

.english-hang {
	font-family: libertinus-serif;
	display: block;
  	font-size: 1.0em;
    font-style: italic;
    line-height: 1.5;
    page-break-inside: avoid;
    text-indent: -8pt;
    margin: 8pt 0 0 24pt;
    padding: 0;
}

.english-hang-together {
	font-family: libertinus-serif;
  	display: block;
  	font-size: 1.0em;
    font-style: italic;
    line-height: 1.5;
    page-break-inside: avoid;
    text-indent: -8pt;
    margin: 0 0 0 24pt;
    padding: 0
}

.pali-leader {
	font-family: libertinus-serif;
	text-align: center;
  	font-size: 1.1em;	
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

.english-leader {
	font-family: libertinus-serif;
	text-align: center;
  	font-size: 1.0em;
	font-style: italic;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	line-height: normal;
}

.breathmark {
	font-family: libertinus-serif;
  	font-size: 1.25em;
  	font-weight :1000;
 	line-height: 0.1em;
	margin: 0px;
	padding: 0px;
}
.wheel-of-dhamma {
  font-size: 1.25em;
  font-weight :1000;
  line-height: 0.1em;
	margin: 0px;
	padding: 0px;
}

a {
text-decoration: none;
}

.schedule {
	font-size:1.25em; 
	font-size:1.25em; 
	font-family: libertinus-serif; 
	font-style: normal; 
	font-variant: small-caps;
	text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}


q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

sup {
	font-family: libertinus-serif;
	font-size: 0.65em;
	line-height: 0.1em;
}

li {
  list-style-type: none;
}

ol {
 padding: 0;
  margin-left: 1em;
}

.numbered-list {
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
  counter-reset: my-counter;
}

.numbered-list li {
  margin-bottom: 10px;
  position: relative;
}

.numbered-list li:before {
  content: counter(my-counter)".";
  counter-increment: my-counter;
  margin-right: 3px;
  position: absolute;
  left: -1.0em;
}


hr {
	width: 80%;
 	border: 2px solid;
  	border-radius: 100px;
	margin-top: 20px;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

@font-face {
font-family: libertinus-serif;
font-style: normal;
font-weight: normal;
src: url('../Fonts/LibertinusSerif-Regular.otf') format('opentype');
}

@font-face {
font-family: libertinus-serif;
font-style: italic;
font-weight: normal;
src: url('../Fonts/LibertinusSerif-Italic.otf') format('opentype');
}

@font-face {
font-family: libertinus-serif;
font-style: normal;
font-weight: bold;
src: url('../Fonts/LibertinusSerif-Bold.otf') format('opentype');
}

@font-face {
font-family: libertinus-serif;
font-style: italic;
font-weight: bold;
src: url('../Fonts/LibertinusSerif-BoldItalic.otf') format('opentype');
}

@font-face {
font-family: libertinus-serifx;
font-weight: normal;
font-style: normal;
src: url(../Fonts/LibertinusSerifX-Regular.ttf) format('truetype');
}

@font-face {
font-family: libertinus-serifx;
font-weight: bold;
font-style: normal;
src: url(../Fonts/LibertinusSerifX-Bold.ttf) format('truetype');
}

@font-face {
font-family: "sbs";
font-weight: normal;
font-style: normal;
src: url(../Fonts/palisbs.ttf);
}