.toc-break{
	margin-top:10px;
}

h1, h2, h3, h4, h5, h6 {
     page-break-after:avoid;
     -webkit-hyphenate-lines: 0 !important;
     -webkit-hyphens: none !important; 
     adobe-hyphenate: none !important; 
     -moz-hyphens: none !important; 
     hyphens: none !important;
     hyphenate-lines: 0;
}

h1 {
	font-family: "libertinus-serifx-bold";
    text-indent: 0;
    text-align: center;
    margin: 0px 0 50 0;
    font-size: 2.0em;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 100%;
    /*gets squished otherwise on ADE */
}

.h1-together {
	font-family: "libertinus-serifx-bold";
    text-indent: 0;
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 2.0em;
    font-weight: bold;
    font-variant: small-caps;
    page-break-after: never;
    line-height: 100%;
    /*gets squished otherwise on ADE */
}

h1.hidden {
	font-family: "libertinus-serifx-bold";
   visibility: hidden;
    font-size: 0.01em;
    line-height: 0.01em;
    margin-top: 0;
}

h2 {
	font-family: "libertinus-serifx-bold";
    text-indent: 0;
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 135%;
    /*get squished otherwise on ADE */
}

.h2-together {
	font-family: "libertinus-serifx-bold";
    text-indent: 0;
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    page-break-before: never;
    line-height: 135%;
    /*get squished otherwise on ADE */
}

.h2-paritta {
    font-family: "libertinus-serifx-bold";
	text-align: center;
    font-variant: small-caps;

}

h3 {
    text-align: center;
    font-variant: small-caps;
}

.section-title {
  font-family: 'Libertinus Serif', sans-serif;
	font-size: 1.1em;
    font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	line-height: 1em;
	padding-top: 1em
}

.pali-subtitle {
    text-align: center;
  font-family: 'Libertinus Serif', sans-serif;

}

.pali-leader {
  font-family: 'Libertinus Serif', sans-serif;

  	font-size: 1.1em;
    text-align: center;
}

.english-leader {
  font-family: 'Libertinus Serif', sans-serif;
	font-size: 1.1em;
    text-align: center
}

body {
  font-family: 'Libertinus Serif', sans-serif;

  font-size: 1.2em;
  line-height: 1.5em;
  margin-right:30px;
  margin-left:30px;
  padding:0;
}

.pali-hang {
display: block;
    page-break-after: avoid;
    page-break-inside: avoid;
  	font-size: 1.1em;
    text-indent: -8pt;
    margin: 8pt 0 0 8pt;
    padding: 0
} 

.pali-hang-first {
display: block;
    page-break-after: avoid;
    page-break-inside: avoid;
  	font-size: 1.1em;
    text-indent: -8pt;
    margin: 8pt 0 0 8pt;
    padding: 0
}

.pali-hang-together {
display: block;
    line-height: 1.5;
    page-break-after: avoid;
    page-break-inside: avoid;
  	font-size: 1.1em;
    text-indent: -8pt;
    margin: 0 0 0 8pt;
    padding: 0
} 

blockquote {
  	background: none;
  	border: none;
	font-style: italic;
}

.english {
  	font-size: 1.0em;
  	font-style: italic;
  	line-height: 1.5em;   
    padding-left: 24px ;

}

.english-hang {
	display: block;
  	font-size: 1.0em;
    font-style: italic;
    line-height: 1.5;
    page-break-inside: avoid;
    text-indent: -8pt;
    margin: 8pt 0 0 20pt;
    padding: 0

}

.english-hang-together {
  	display: block;
  	font-size: 1.0em;
    font-style: italic;
    line-height: 1.5;
    page-break-inside: avoid;
    text-indent: -8pt;
    margin: 0 0 0 20pt;
    padding: 0
}

.pali-leader {
	text-align: center;
  	font-size: 1.1em;	
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

.english-leader {
	text-align: center;
  	font-size: 1.0em;
	font-style: italic;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	line-height: normal;
}

.breathmark {
  font-size: 1.25em;
  font-weight :1000;
  line-height: 0.1em;
	margin: 0px;
	padding: 0px;
}
.wheel-of-dhamma {
  font-size: 1.25em;
  font-weight :1000;
  line-height: 0.1em;
	margin: 0px;
	padding: 0px;
}

a {
text-decoration: none;
}

.schedule {
	font-size:1.25em; 
	font-size:1.25em; 
	font-family:libertinus-serifx-normal; 
	font-style: normal; 
	font-variant: small-caps;
	text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

sup {
font-size: 0.65em;
line-height: 0.1em;
}

li {
  list-style-type: none;
}

ol {
 padding: 0;
  margin-left: 1em;
}

hr {
	width: 80%;
 	border: 2px solid white;
  	border-radius: 100px;
	padding-top: 2px;
	margin-top: 20px;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

@font-face {
font-family: "libertinus-serifx-bold";
font-weight: bold;
font-style: normal;
src: url(../Fonts/LibertinusSerifX-Bold.ttf);
}

@font-face {
font-family: "libertinus-serifx-normal";
font-weight: normal;
font-style: normal;
src: url(../Fonts/LibertinusSerifX-Regular.ttf);
}

@font-face {
font-family: "libertinus-serif-bold";
font-weight: normal;
font-style: normal;
src: url(../Fonts/LibertinusSerif-Bold.otf);
}

@font-face {
font-family: "libertinus-serif-normal";
font-weight: normal;
font-style: normal;
src: url(../Fonts/LibertinusSerif-Regular.otf);
}

@font-face {
font-family: "sbs";
font-weight: normal;
font-style: normal;
src: url(../Fonts/palisbs.ttf);
}